@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

/* Common */
html{height:100%;font-size:16px;}
body{display:flex;margin:0;padding:0;height:100%;align-items:center;justify-content:center;background-color:#f6f6f6;}
p{margin:0;}

#root{height:100%;background-color:#fff;box-shadow:rgba(100, 100, 111, 0.2) 0 7px 29px 0;overflow:hidden;}

.App{padding:0 1.25rem;height:100%;font-family:Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;}

/* Header */
header{display:flex;padding:1.25rem 0;border-bottom:1px solid #e2e2e2;align-items:center;}
header > div{display:flex;}
header .head-text{width:50%;font-size:1.5rem;justify-content:center;}
header .head-left{width:25%;justify-content:flex-start;}
header .head-right{width:25%;justify-content:flex-end;}

/* Button */
.common-button{padding:0.625rem 1.25rem;font-family:inherit;font-size:1.125rem;border:none;border-radius:5px;white-space:nowrap;cursor:pointer;}
.common-button.default{color:#000;background-color:#ececec;}
.common-button.positive{color:#fff;background-color:#64c964;}
.common-button.negative{color:#fff;background-color:#fd565f;}

/* DiaryList */
.diary-list .menu-wrapper{display:flex;margin:1.25rem 0;align-items:center;justify-content:space-between;}
.diary-list .menu-wrapper .btn-container{flex-grow:1;}
.diary-list .menu-wrapper .btn-container button{width:100%;}
.diary-list .control-menu{margin-right:0.625rem;padding:0.625rem 1.25rem;font-family:inherit;font-size:1.125rem;border:none;border-radius:5px;background-color:#ececec;cursor:pointer;}

/* DiaryItem */
.diary-item{display:flex;padding:0.938rem 0;border-bottom:1px solid #e2e2e2;align-items:center;justify-content:space-between;}
.diary-item .emotion-box{display:flex;width:7.5rem;height:5rem;border-radius:5px;justify-content:center;cursor:pointer;}
.diary-item .emotion-box img{width:50%;}
.diary-item .emotion-box.emotion1{background-color:#64c964;}
.diary-item .emotion-box.emotion2{background-color:#9dd772;}
.diary-item .emotion-box.emotion3{background-color:#fdce17;}
.diary-item .emotion-box.emotion4{background-color:#fd8446;}
.diary-item .emotion-box.emotion5{background-color:#fd565f;}
.diary-item .content-box{padding-left:1.25rem;flex-grow:1;align-self:flex-start;cursor:pointer;}
.diary-item .content-box .diary-date{margin-bottom:5px;font-size:1.125rem;font-weight:500;}
.diary-item .content-box .diary-content{font-size:1.125rem;}
.diary-item .btn-box{min-width:4.375rem;}

/* Media Query */
@media (min-width: 650px){
  .App{width:40rem;}
}

@media (max-width: 650px){
  .App{width:90vw;}
}

@media (max-width: 470px){
  html{font-size:14px;}
}

@media (max-width: 420px) {
  html {font-size: 12px;}
  .diary-list .menu-wrapper{flex-direction: column;}
  .diary-list .select-container{width:100%;}
  .diary-list .control-menu{margin: 0 0 10px 0;width: 100%;}
  .diary-list .btn-container{width:100%;}
  .diary-item .emotion-box{width:3.75rem;height:2.5rem;}
}
